$r-blue: #2b82ea;
$r-darkblue: #271496;
$r-yellow: #f0d000;

flight-list{
    .flights-list{
        margin: 0 50px;
        min-height: 300px;
        border: 4px;
        &.nothing-to-show{
            text-align: center;
        }
        .flights-header{
            color: $r-yellow;
            font-size: 25px;
        }
        .single-flight{
            background: #f5f5f5;
            min-height: 100px;
            margin-bottom: 20px;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            border-radius: 2px;
            display: flex;
            &:hover{
                background: white;
            }
            .flight-cell{
                min-height: 100%;
                width: 20%;
                font-size: 20px;
                justify-content:center;
                position: relative;
                svg{
                    height: 10%;
                    position: absolute;
                    top: 50%;
                    left: 45%;
                    transform: translate(-50%, -50%);
                    fill: $r-blue;
                }
                span, button{
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                }
                button{
                    background: $r-yellow;
                    border: none;
                    border-radius: 4px;
                    padding: 5px 10px;
                    color: $r-darkblue;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}