<div class="flights-list" ng-class="{'nothing-to-show' : !$ctrl.flights.length}">
    <span ng-show="$ctrl.flights.length" class="flights-header">We have found {{$ctrl.flights.length}} {{$ctrl.flights.length === 1 ? 'flight' : 'flights'}}</span>
    <span ng-hide="$ctrl.flights.length" class="flights-header">We haven't found any flights for you :(<br/>Try changing the search criteria</span>

    <flight-info ng-repeat="flight in $ctrl.flights" flight="flight" params="$ctrl.params"></flight-info>

</div>