$r-blue: #2b82ea;
$r-darkblue: #271496;
$r-yellow: #f0d000;

flight-list{
    .flights-list{
        margin: 0 50px;
        min-height: 300px;
        border: 4px;
        &.nothing-to-show{
            text-align: center;
        }
        .flights-header{
            color: $r-yellow;
            font-size: 25px;
        }
    }
}