$r-blue: #2b82ea;
$r-darkblue: #271496;
$r-yellow: #f0d000;

date-wrapper{
    .control{
        display: inline-block;
        width: 49%;
        padding: 10px 3%;
        .label{
            font-size: 18px;
            color: $r-yellow;
            margin-bottom: 0;
        }
    }
}