$r-blue: #2b82ea;
$r-darkblue: #271496;
$r-yellow: #f0d000;

home-page{
    header{
        background: $r-darkblue;
        height: 70px;
        .logo{
            float: left;
            height: 100%;
        }
    }
    .message{
        position: absolute;
        top: -70px;
        height: 60px;
        width: 400px;
        background: $r-yellow;
        color: $r-darkblue;
        border-radius: 0px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        padding-top: 20px;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        border-radius: 0 0 4px 4px;
        &.animate{
            animation-name: slide-in;
            animation-duration: 0.5s;
        }
        .close{
            position: absolute;
            top: -5px;
            right: 8px;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .container-centered{
        margin: 50px;
        .search-pane{
            background: $r-blue;
            border-radius: 10px;
            border: 1px solid $r-darkblue;
            min-height: 200px;
            position: relative;
            .box-components{
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 80%;
                height: 100%;
            }
            .box-button{
                position: absolute;
                right: 0;
                top: 0;
                display: inline-block;
                width: 20%;
                height: 100%;
                button{
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    width: 80%;
                    height: 80%;
                    border-radius: 10px;
                    background: $r-yellow;
                    color: $r-darkblue;
                    font-size: 50px;
                    border: none;
                    overflow: hidden;
                    cursor: pointer;
                    svg{
                        position: absolute;
                        left: -50%;
                        bottom: 0;
                        width: 50%; 
                        height: 50%;
                        transform: rotate(30deg);
                        animation-duration: 0.5s;
                        animation-fill-mode: forwards;
                        animation-timing-function: linear;
                        fill: $r-darkblue;
                    }
                    &:hover{
                        svg{
                            animation-name: plane-waiting;

                        }
                    }
                    &:active{
                        svg{
                            animation-name: plane-starting;

                        }
                    }
                }
            }
        }
    }
    
    .container-full{
        width: 100%;
        min-height: 300px;
        background: $r-blue;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 30px;
    }
}

@keyframes plane-waiting {
    from {
        left: 0px
    }
    to {
        left: 50px;
    }
}

@keyframes plane-waiting {
    from {
        left:-50%;
        bottom: 0px;
        transform: rotate(30deg);    
    }
    to {
        left:100%;
        bottom: 50%;
        transform: rotate(0deg);
    }
}

@keyframes slide-in {
    from {
        top: -70px
    }
    to {
        top: 0px;
    }
}

@media only screen and (max-width: 1245px) {
    home-page{
        .container-centered{
            .search-pane{
                min-height: 400px;
                .box-components{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    width: 100%;
                    height: 50%;
                }
                .box-button{
                    width: 100%;
                    height: 50%;
                    top: 50%;
                }
            }
        }
    }
}

@media only screen and (max-width: 690px) {
    home-page{
        .container-centered{
            .search-pane{
                min-height: 500px;
                .box-components{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    width: 100%;
                    height: 50%;
                }
                .box-button{
                    width: 100%;
                    height: 20%;
                    top: 80%;
                }
            }
        }
    }
}