$r-blue: #2b82ea;
$r-darkblue: #271496;
$r-yellow: #f0d000;

airport-wrapper{
    .control{
        display: inline-block;
        width: 49%;
        padding: 10px 20px;
        .label{
            font-size: 18px;
            color: $r-yellow;
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 690px) {
    airport-wrapper{
        .control{
            display: block;
            width: 100%;
        }
    }
}